.welcome-page .logo {
  width: 64px;
}

.icon-banner {
  width: 32px;
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px;
}

.welcome-page li {
  list-style: none;
  padding: 4px;
}

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}





/*autorization*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Bold.otf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.button {
    display: block;
    text-decoration: none;
    outline: none;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #2328B0;
    border-radius: 4px;
    padding: 14px 18px;
    margin: 0;
}

    .button:hover {
        cursor: pointer;
        background: #242BD0;
    }

    .button:active, .button.active {
        background: #12168C;
    }

    .button:disabled, .button.disabled {
        background: #E8E8E8;
        color: #7E7E7E;
    }


.form-item {
    margin: 0 0 16px 0;
    position: relative;
}

    .form-item input[type="text"], .form-item input[type="password"], .form-item input[type="email"] {
        display: block;
        width: 100%;
        height: 48px;
        padding: 0 16px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        outline: none;
        background:transparent;
    }

        .form-item input[type="text"]::-webkit-input-placeholder, .form-item input[type="password"]::-webkit-input-placeholder, .form-item input[type="email"]::-webkit-input-placeholder, .form-item input[type="text"]:-moz-placeholder, .form-item input[type="password"]:-moz-placeholder, .form-item input[type="email"]:-moz-placeholder {
            font-weight: 400;
            font-size: 16px;
            color: #7E7E7E;
        }

        .form-item input[type="text"].error::-webkit-input-placeholder, .form-item input[type="password"].error::-webkit-input-placeholder, .form-item input[type="email"].error::-webkit-input-placeholder, .form-item input[type="text"].error:-moz-placeholder, .form-item input[type="password"].error:-moz-placeholder, .form-item input[type="email"].error:-moz-placeholder {
            color: #E14646;
        }

    .form-item label {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

        .form-item label input[type="checkbox"] {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin: 0 14px 0 0;
        }

        .form-item label span {
            display: inline-block;
            vertical-align: middle;
        }

    .form-item .error-message {
        display: none;
        padding: 8px 0 0 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #E14646;
        margin: 0 0 -2px 0;
    }

        .form-item .error-message.active {
            display: block;
        }

    .form-item input.error, .form-item.error input {
        border-color: #E14646;
    }

    .form-item input.error::-webkit-input-placeholder, .form-item.error input::-webkit-input-placeholder, .form-item input.error:-moz-placeholder, .form-item.error input:-moz-placeholder {
        color: #E14646 !important;
    }

.form-item-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 18px 0;
}

    .form-item-links label {
        display: block;
        margin: 0;
        padding: 0;
    }

        .form-item-links label span {
            display: inline-block;
            vertical-align: middle;
            max-width: 85%;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }

        .form-item-links label input[type=checkbox] {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            width: 16px;
            height: 16px;
        }

.forgot-password-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2328B0;
}

.show-password-button {
    display: block;
    position: absolute;
    top: 58px;
    right: 19px;
    margin: -17px 0 0 0;
    z-index: 9;
    outline: none !important;
    border: 0;
    background: transparent;
    padding: 0;
    width: auto;
    height: auto;
}

    .show-password-button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .show-password-button:not(.show) svg path {
        stroke: #242BD0;
    }

.form-item [type="submit"] {
    display: block;
    width: 100%;
}



.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2328B0;
}


.authorization-page {
    background: #1C218C;
    width: 57.5%;
    color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    padding: 0 60px 0 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.authorization-page-header-container {
    position: relative;
    padding: 27.3vh 0 0 0;
}

.authorization-page-header {
    text-align: right;
    position: relative;
}

    .authorization-page-header .title {
        font-weight: 700;
        font-size: 64px;
        line-height: 1.15em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;
        padding: 0 0 20px 0;
    }

    .authorization-page-header .subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4em;
        color: rgba(255,255,255,0.5);
    }

.authorization-block {
    width: 360px;
    max-width: 100%;
    color: #000;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9;
    margin: 0 0 0 120px;
    padding-top: 10px;
    text-align: left;
}

    .authorization-block .head {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2em;
        color: #000000;
        padding: 0 0 32px 0;
    }


.authorization-page-footer {
    margin: auto 0 0 0;
    padding: 0 0 50px 0;
}

    .authorization-page-footer .footer-logos {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }

        .authorization-page-footer .footer-logos div {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 10px 43px;
        }


/*adaptive*/

@media screen and (max-width:1180px) {

    body {
        overflow-x: hidden;
    }

    .authorization-page {
        width: 100%; 
    }

    .authorization-page-header-container {
        position: relative;
        padding: 10vh 0 0 0;
    }

    .authorization-block {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        margin: 40px auto 0 auto;
    }

        .authorization-block .head {
            text-align: right;
            font-size: 28px;
        }

    .form-item label {
    }

    .forgot-password-link {
        font-size:14px;
    }

    .form-item-links label span {
        font-size:14px;
    }

    .authorization-page-header .title {
        font-size: 48px;
    }

    .authorization-page-header .subtitle {
        
    }

    .authorization-page-header {
        text-align: center;
    }

    .authorization-block {
        background:#fff;
        padding:40px 40px;
        width:440px;
        margin-bottom:30px;
    }

    .authorization-block .head {
        text-align: center;
    }

    .authorization-page-footer .footer-logos {
        justify-content: center;
    }

    .footer-logos svg {
       
    }

    .authorization-page-header .title {
        font-size: 40px;
    }
}

@media screen and (max-width:767px) {

    .authorization-page {
        padding: 0 15px 0 15px;
    }

    .authorization-page-header-container {
        padding: 30px 0 0 0;
    }

    .authorization-block {
        width: 100%;
        margin: 25px 0 25px 0;
        position:relative;
    }

        .authorization-block:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -15px;
            width: 15px;
            height: 100%;
            z-index: 9;
            background: #fff;
        }

    .authorization-block:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            width: 15px;
            height: 100%;
            z-index: 9;
            background:#fff;
     }

    .authorization-page-header .title {
        font-size: 32px;
    }

    .authorization-page-header .subtitle {
        font-size: 18px;
    }

    .authorization-page-header br {
        display: none;
    }

    .authorization-page-footer .footer-logos div {margin-left:20px;}

    .authorization-page-footer .footer-logos div:first-child {
        margin-left: 0;
    }

    .acm-logo svg {
        width:210px;
    }

    .department-logo svg {
        width:100px;
    }

    .authorization-block .head {
        font-size: 24px;
    }

    .authorization-page-footer {
        padding-bottom:20px;
    }

}


@media screen and (max-width:374px) {

    .authorization-page-footer .footer-logos {
        display: block;
        text-align: center;
    }

    .authorization-page-header .title {
        font-size: 26px;
    }

    .form-item-links label {
        margin-bottom:10px;
    }

}


/*end of autorization*/

